<div class="services-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">We want to help reach <br> your goals.</h1>
        <p class="masthead__description"></p>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <h2 class="services__headline">Services</h2>
      <hr class="services__divider">
      <h3 class="services__title" id="physical-therapy">Physical Therapy</h3>
      <p class="services__copy">Physical Therapy at Equilibrium LLC incorporates a heavy emphasis on manual therapy by using advanced evaluative tools and palpation techniques to get to the root of the underlying problem. Each of our sessions are 60 minutes, one-on-one with a licensed Physical Therapist. This one-on- one time during each treatment session gives the Physical Therapist time to evaluate and identify habit patterns, postural inefficiencies, mechanical dysfunctions, neuromuscular inhibitions/excitations, and the quality of motor control that lead to pain and functional impairments. We find that patients respond better to treatments that are directed entirely by the Physical Therapist due to the the individualized attention and manual facilitation during treatment sessions.</p>
    </div>
    <img class="services__image" src="images/view-services/pt.jpg" alt="">
    <div class="container">
      <h3 class="services__title" id="acupuncture">Acupuncture</h3>
      <p class="services__copy">Acupuncture is one of the oldest and still one of the key components in Traditional Chinese Medicine that dates back thousands of years. It is founded in the belief that disease is a byproduct of the body’s energy (Qi) being out of balance. The main purpose of Acupuncture treatment is to restore equilibrium in the body through energy pathways -- meridians -- by inserting thin needles in a specific pattern to optimize energy flow. Acupuncture can be utilized to treat a wide variety of conditions including but not limited to, emotional disorders, sleep disturbances, inflammation, pain, allergies, digestive complaints, chronic degenerative diseases, respiratory conditions (ie. asthma), addiction, fatigue and pelvic floor disorders. At Equilibrium, Acupuncture can be used as a stand-alone treatment or inconjunction with other services.</p>
    </div>
    <img class="services__image" src="images/view-services/acpuncture.jpg" alt="">
    <div class="container">
      <h3 class="services__title" id="chiropractic">Chiropractic</h3>
      <p class="services__copy">Chiropractic is founded on the belief and scientific fact that the nervous system controls the body’s general health. It is the belief that mechanical disorders of the musculoskeletal system as a result of accidents, physical trauma, everyday activities, poor posture, and/or injuries can cause disruption of the harmonious alignment of the spine, leading to diminished nerve energy throughout the body. Chiropractic care focuses on proper biomechanical alignment of the bones, efficient myofascial and soft tissue integrity with optimum neuromuscular control. At Equilibrium, each Chiropractic session will last ~45 minutes with the utmost individualized attention. Chiropractic care at Equilibrium emphasizes spinal correction, spinal adjustment, corrective exercise, manual therapy and postural education.</p>
    </div>
    <img class="services__image" src="images/view-services/chiropractic.jpg" alt="">
    <div class="container">
      <h3 class="services__title">Golf Swing Analysis</h3>
      <h4 class="services__title-by">by Titleist Performance Institute (TPI) Certified professional</h4>
      <p class="services__copy">Over the years, the game of golf has evolved into integrating physical fitness, healthy biomechanics, and efficient golf swing in order to optimize play on the course. TPI Medical certification allows the clinician to evaluate and treat golf specific injuries to get players back on the course. The Body-Swing- Connection along with analysis of biomechanical limitations allow clinicians to identify swing characteristics that may be contributing to your current injuries. For this reason, we work in collaboration with golf professionals and fitness coaches who can help customize your swing and get you into physical shape to add those extra yards on the course.</p>
    </div>
    <img class="services__image" src="images/view-services/golf.jpg" alt="">
  </section>

</div>
