.services-view {
  .masthead {
    background-image: url('images/masthead-services.jpg');

    &__copy {
      transform: translateY(100%);
      color: $color-white;
      max-width: 650px;
    }

    &__title {
      margin: 0;
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(60);
      line-height: 1.2em;
    }
  }

  .services {
    &__headline {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(40);
      text-align: center;
    }

    &__title {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(34);
      text-align: center;
    }

    &__copy {
      font-family: $font-open-sans;
      font-size: em(16);
    }

    &__image {
      display: block;
      margin: em(30) 0;
      width: 100%;
      max-height: 500px;
    }
  }
}
