<div class="conditions-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">Let's get you better.</h1>
        <p class="masthead__description">It's what we do.</p>
      </div>
    </div>
  </section>

  <section class="conditions">
    <div class="container">
      <h2 class="conditions__headline">Conditions We Treat</h2>
      <hr class="conditions__divider">
      <p class="conditions__copy">At Equilibrium, we continuously evaluate and treat your painful conditions by identifying the root cause of your injuries. We have made a list of some, not all, of the conditions that we treat in our office.</p>
    </div>
    <div class="container">
      <ul class="conditions__category">
        <li class="conditions__category-image"><img src="images/view-conditions/neck.png" alt=""></li>
        <li>
          <dl>
            <dt><h3 class="conditions__category-title">Neck Pain</h3></dt>
            <dd>
              <ul>
                <li class="conditions__symptom">Cervicogenic headaches</li>
                <li class="conditions__symptom">TMJ Dysfunction</li>
                <li class="conditions__symptom">Cervical Radiculopathy</li>
                <li class="conditions__symptom">Disc herniations</li>
                <li class="conditions__symptom">Whiplash injuries</li>
                <li class="conditions__symptom">Myofascial tension</li>
                <li class="conditions__symptom">Stenosis</li>
                <li class="conditions__symptom">Facet dysfunction</li>
                <li class="conditions__symptom">Forward head neck</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
      <ul class="conditions__category">
        <li class="conditions__category-image"><img src="images/view-conditions/upper.png" alt=""></li>
        <li>
          <dl>
            <dt><h3 class="conditions__category-title">Upper Extremity Pain</h3></dt>
            <dd>
              <ul>
                <li class="conditions__symptom">Rotator cuff pathology</li>
                <li class="conditions__symptom">Labral pathology</li>
                <li class="conditions__symptom">Frozen shoulder</li>
                <li class="conditions__symptom">Tennis Elbow</li>
                <li class="conditions__symptom">Golfer's elbow</li>
                <li class="conditions__symptom">Bursitis</li>
                <li class="conditions__symptom">Carpal Tunnel</li>
                <li class="conditions__symptom">Impingement</li>
                <li class="conditions__symptom">Pre- and Post-Op</li>
                <li class="conditions__symptom">Myofascial pain</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
      <ul class="conditions__category">
        <li class="conditions__category-image"><img src="images/view-conditions/back.png" alt=""></li>
        <li>
          <dl>
            <dt><h3 class="conditions__category-title">Back Pain/Thoracic Cage</h3></dt>
            <dd>
              <ul>
                <li class="conditions__symptom">Disc herniations</li>
                <li class="conditions__symptom">Stenosis</li>
                <li class="conditions__symptom">Lumbar radiculopathy</li>
                <li class="conditions__symptom">Sciatica</li>
                <li class="conditions__symptom">Degenerative Disc/Joint Disease</li>
                <li class="conditions__symptom">Spondylolisthesis</li>
                <li class="conditions__symptom">Rib cage dysfunction</li>
                <li class="conditions__symptom">Pre-post op</li>
                <li class="conditions__symptom">Facet dysfunction</li>
                <li class="conditions__symptom">Core inefficiency</li>
                <li class="conditions__symptom">Sacro-iliac (SI) dysfunction</li>
                <li class="conditions__symptom">Coccyx pain</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>
      <ul class="conditions__category">
        <li class="conditions__category-image"><img src="images/view-conditions/lower.png" alt=""></li>
        <li>
          <dl>
            <dt><h3 class="conditions__category-title">Lower Extremity Pain</h3></dt>
            <dd>
              <ul>
                <li class="conditions__symptom">Pelvic pain</li>
                <li class="conditions__symptom">Groin injuries</li>
                <li class="conditions__symptom">Pre- and Post-op</li>
                <li class="conditions__symptom">Impingement</li>
                <li class="conditions__symptom">Labrum injuries</li>
                <li class="conditions__symptom">Patella Femoral Pain Syndrome (PFPS)</li>
                <li class="conditions__symptom">Achilles tendonitis</li>
                <li class="conditions__symptom">ITB syndrome</li>
                <li class="conditions__symptom">Shin splints</li>
                <li class="conditions__symptom">Plantar fascitis</li>
                <li class="conditions__symptom">Patella tendonitis</li>
                <li class="conditions__symptom">Ankle sprains</li>
                <li class="conditions__symptom">Compartment syndrome</li>
                <li class="conditions__symptom">Orthotic fabrication</li>
                <li class="conditions__symptom">ACL/PCL/MCL/LCL pathology</li>

              </ul>
            </dd>
          </dl>
        </li>
      </ul>

      <ul class="conditions__category">
        <li class="conditions__category-image"><img src="images/view-conditions/workplace.png" alt=""></li>
        <li>
          <dl>
            <dt><h3 class="conditions__category-title">Workplace Ergonomic and Postural Health</h3></dt>
            <dd>
              <ul>
                <li class="conditions__symptom">Sitting, standing, sleeping posture</li>
                <li class="conditions__symptom">Efficient body mechanic evaluation/education</li>
              </ul>
            </dd>
          </dl>
        </li>
      </ul>

    </div>
  </section>

</div>



