.conditions-view {
  ul,
  li,
  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .masthead {
    background-image: url("images/masthead-conditions.jpg");
  }

  .conditions {
    .container {
      margin-bottom: em(80);
    }

    &__headline {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(28);
      text-align: center;
      margin-top: em(50);
    }

    &__divider {
      border-color: $color-downy;
      width: em(50);
      margin-bottom: em(40);
    }

    &__title {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(29);
      text-align: center;
    }

    &__copy {
      font-family: $font-open-sans;
      font-size: em(16);
      text-align: center;
      padding: 0 15%;
    }

    &__image {
      display: block;
      margin: em(30) 0;
      width: 100%;
      max-height: 500px;
    }

    &__category {
      @include span-columns(4);

      @include omega(3n);
    }

    &__category-image {
      display: block;
      margin: 0 auto em(30);
      max-width: 300px;
    }

    &__category-title {
      font-size: em(24);
      font-family: $font-open-sans;
      font-weight: 700;
    }

    &__symptom {
      font-family: $font-open-sans;
      margin-bottom: em(10);
    }
  }
}
