$base-font-size: 100% !default;
$base-line-height: 1.5 !default;

$font-open-sans: "Open Sans", sans-serif !default;
$font-roboto: "Roboto", sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #d4d4d4;
$color-casal: #2e5c6d;
$color-mint: #346778;
$color-downy: #70cbd0;
