//footer
.site-footer {
  min-height: 200px;
  padding: 40px 0;

  .container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1 1 auto;
    font-family: $font-open-sans;
    font-size: em(14);

    @include breakpoint("sm") {
      text-align: center;
      color: gray;
    }


    .bold {
      font-weight: 700;
    }

    a {
      color: $color-black;
    }
  }

  &__logo {
    display: block;
    text-align: right;

    img {
      width: 100%;
      max-width: 200px;
    }
  }
}
