<footer class="site-footer">
  <div class="container">
    <ul class="site-footer__links mobile-hide">
      <li class="site-footer__link bold">Services</li>
      <li class="site-footer__link"><a href="/services#physical-therapy">Physical Therapy</a></li>
      <li class="site-footer__link"><a href="/services#acupuncture">Acupuncture</a></li>
      <li class="site-footer__link"><a href="/services#chiropractic">Chiropractic</a></li>
    </ul>
<!--     <ul class="site-footer__links mobile-hide">
      <li class="site-footer__link bold"><a href="">Conditions We Treat</a></li>
      <li class="site-footer__link bold"><a href="">Insurance Policy</a></li>
    </ul>
    <ul class="site-footer__links mobile-hide">
      <li class="site-footer__link bold"><a href="">Frequently Asked Questions</a></li>
      <li class="site-footer__link bold"><a href="">Team</a></li>
    </ul> -->
    <ul class="site-footer__links">
      <li class="site-footer__link bold">158 Linwood Plaza, Suite 219 <br> Fort Lee, NJ 07024</li>
      <li class="site-footer__link bold">201-461-9333</li>
    </ul>
    <ul class="site-footer__links mobile-hide">
      <li class="site-footer__link">
        <a class="site-footer__logo" href="/"><img src="images/logo.png" alt=""></a>
      </li>
    </ul>
  </div>
</footer>
