<div class="home-view">
  <div class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">Get into shape. <br> See a difference.</h1>
        <p class="masthead__description">Lorem ipsum dolor sit amet, no viris legere suscipiantur eos, clita comprehensam nam at. In mei numquam intellegat elaboraret, aeterno quaeque no vim, eam movet delectus splendide eu. Eius vitae an sea, mucius repudiare sententiae ad vis, sea cu erat principes dissentiunt. Ei iuvaret eruditi temporibus pro.</p>
      </div>
    </div>
  </div>

  <div class="quote">
    <div class="container">
      <h2 class="quote__copy">
        Movement is a medicine for creating change in a person’s physical, emotional, and mental state.
      </h2>
    </div>
  </div>

</div>
