.home-view {
  .masthead {
    background-image: url("images/masthead-home.jpg");
  }

  .quote {
    padding: em(40) 0;
    text-align: center;
    margin-top: em(50);

    &__title {
      margin: 0 auto;
      padding: 0 10% em(20);
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(28);
      color: #565656;
      max-width: 1000px;

      .fa {
        font-size: em(10);
        vertical-align: top;
        position: relative;
        top: 2px;
      }
    }

    &__by {
      display: block;
      text-align: right;
      font-size: 14px;
      font-style: italic;
      padding-right: 10%;
    }

    &__copy {
      @include span-columns(6);

      text-align: left;
      font-family: $font-open-sans;
    }
  }

  .masthead-bottom {
    min-height: 450px;
    background-image: url("images/view-home/masthead-bottom.jpg");
    background-position: center center;
    background-size: cover;
  }
}
