<div class="home-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">Untap your <br> true potential.</h1>
        <p class="masthead__description"></p>
      </div>
    </div>
  </section>

  <section class="quote">
    <div class="container">
      <blockquote class="quote__title">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        Movement is a medicine for creating change in a person's physical, emotional and mental state.
        <i class="fa fa-quote-right" aria-hidden="true"></i>
        <span class="quote__by">- Carol Welch</span>
      </blockquote>


      <p class="quote__copy">EQuilibrium, LLC takes on an integrative approach to managing patient care. Our goal is to provide the highest level of care through expert clinicians to identify the root(s) of the problem – not treat the symptoms. We understand that often times pain is a byproduct of inefficiencies in our system – whether it is via trauma, everyday body mechanics, poor ergonomic design or postural habits. Unless these inefficiencies are identified, made aware and restored to their optimum capacity and potential, reoccurrences are bound to happen.</p>

      <p class="quote__copy">In order to deliver the highest quality of service to our patients, this practice was created with a heavy emphasis on manual therapy with a one-on- one patient care paradigm. Our personalized sessions are 45-60 minute evaluations/treatments in individualized treatment rooms where the clinician will walk each patient through their treatments and home programs.</p>

    </div>
  </section>

  <div class="masthead-bottom"></div>

  <!-- <section class="reasons">
    <div class="container">
      <h2 class="reasons__headline">Reasons to start today</h2>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

    </div>
  </section> -->

</div>
