<div class="home-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">Get into shape. <br> See a difference.</h1>
        <p class="masthead__description">Lorem ipsum dolor sit amet, no viris legere suscipiantur eos, clita comprehensam nam at. In mei numquam intellegat elaboraret, aeterno quaeque no vim, eam movet delectus splendide eu. Eius vitae an sea, mucius repudiare sententiae ad vis, sea cu erat principes dissentiunt. Ei iuvaret eruditi temporibus pro.</p>
      </div>
    </div>
  </section>

  <section class="quote">
    <div class="container">
      <h2 class="quote__title">
        Movement is a medicine for creating change in a person’s physical, emotional, and mental state.
      </h2>

      <p class="quote__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae et, consequuntur asperiores consectetur aliquam ea. Molestias, quae.</p>

      <p class="quote__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias atque possimus aut laudantium accusamus voluptatum illo commodi perspiciatis nobis aperiam aspernatur, et repellendus, mollitia! Eaque facilis a magni suscipit labore.</p>

    </div>
  </section>

  <section class="reasons">
    <div class="container">
      <h2 class="reasons__headline">Reasons to start today</h2>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

      <dl class="reasons__category">
        <dt class="reasons__title">Lorem ipsum dolor sit amet</dt>
        <dd class="reasons__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sed nihil adipisci aliquid odit, blanditiis cum eos. Maxime aspernatur voluptate possimus quae</dd>
      </dl>

    </div>
  </section>

</div>
