.home-view {
  .masthead {
    background-image: url("images/masthead-home.jpg");

    &__copy {
      transform: translate(21%,171%);
      color: $color-white;
      max-width: 500px;
    }

    &__title {
      margin: 0;
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(54);
      line-height: 1.2em;
    }
  }

  .quote {
    padding: em(40) 0;
    text-align: center;

    &__title {
      margin: 0;
      padding: 0 10% em(20);
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(30);
      color: #565656;
    }

    &__by {
      display: block;
      text-align: right;
      font-size: 18px;
      font-style: italic;
    }

    &__copy {
      @include span-columns(6);
      text-align: left;
      font-family: $font-open-sans;
    }
  }
}
