<div class="team-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">Strive for Progress. <br> Not Perfection.</h1>
        <p class="masthead__description">Lorem ipsum dolor sit amet, no viris legere suscipiantur eos, clita comprehensam nam at. In mei numquam intellegat elaboraret, aeterno quaeque no vim, eam movet delectus splendide eu. Eius vitae an sea, mucius repudiare sententiae ad vis, sea cu erat principes dissentiunt. Ei iuvaret eruditi temporibus pro.</p>
      </div>
    </div>
  </section>

  <section class="the-team">
    <h2 class="the-team__headline">Meet the team</h2>
    <div class="container">
      <div class="row">
        <div class="the-team__profile">
          <img src="https://unsplash.it/300/400/?random" alt="">
        </div>
        <div class="the-team__bio">
          <h3 class="the-team__title">eam movet delectus splendide eu</h3>
          <p class="the-team__description">
            Lorem ipsum dolor sit amet, no viris legere suscipiantur eos, clita comprehensam nam at. In mei numquam intellegat elaboraret, aeterno quaeque no vim, eam movet delectus splendide eu. Eius vitae an sea, mucius repudiare sententiae ad vis, sea cu erat principes dissentiunt. Ei iuvaret eruditi temporibus pro.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="the-team__profile">
          <img src="https://unsplash.it/300/400/?random" alt="">
        </div>
        <div class="the-team__bio">
          <h3 class="the-team__title">eam movet delectus splendide eu</h3>
          <p class="the-team__description">
            Lorem ipsum dolor sit amet, no viris legere suscipiantur eos, clita comprehensam nam at. In mei numquam intellegat elaboraret, aeterno quaeque no vim, eam movet delectus splendide eu. Eius vitae an sea, mucius repudiare sententiae ad vis, sea cu erat principes dissentiunt. Ei iuvaret eruditi temporibus pro.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
