
.team-view {
  .masthead {

    background-image: url('images/masthead-team.jpg');

    &__copy {
      transform: translateY(150%);
      color: $color-white;
      max-width: 700px;
    }

    &__title {
      margin: 0;
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(60);
    }

    &__description {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(16);
      color: $color-white;
      margin-left: em(5);
    }
  }

  .the-team {
    &__headline {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(40);
      text-align: center;
    }

    &__divider {
      border-color: $color-downy;
      width: em(50);
      margin-bottom: em(80);
    }

    .row {
      margin-bottom: em(40);
    }

    &__profile {
      @include span-columns(4);
      text-align: right;
      margin-bottom: em(50);
    }

    &__bio {
      @include span-columns(8);
    }

    &__title {
      font-family: $font-open-sans;
      font-weight: 300;
      font-size: em(40);
      margin: 0 0 em(10);
    }

    &__description {
      font-size: em(18);
      font-family: $font-open-sans;
    }
  }

  .quote {
    background-color: #f4f4f4;
    padding: em(40) 0;

    blockquote {
      font-size: em(28);
      font-weight: 300;
      font-family: $font-open-sans;

      .fa {
        font-size: 16px;
         vertical-align: top;
        position: relative;
        top: 4px;
      }
    }
  }
}
