<div class="contact-view">
  <section class="masthead">
    <div class="container">
      <div class="masthead__copy">
        <h1 class="masthead__title">We're here to help.</h1>
      </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <h2 class="contact__headline">Contact Us</h2>
      <hr class="contact__divider">
      <p class="contact__copy">Equilibrium LLC is conveniently located in Linwood Plaza in Fort Lee, NJ minutes from the George Washington Bridge and easily accessible off Route 80/95 and Palisades Interstate Parkway.</p>

      <p class="contact__copy contact__copy--highlight">
        Please download the form by clicking below and have it printed and filled out with you for your visit!
      </p>
      <a class="contact__download" href="/downloads/intake_forms_revised.pdf" target="_self">Download Form</a>
    </div>
  </section>
  <section class="info">
    <div class="container">
      <ul class="info__items">
        <li class="info__item">
          <img class="info__icon info__icon--location" src="/images/view-contact/location.png" alt="Location">
          <h3 class="info__title">Location</h3>
          <p class="info__detail">
            <a class="maps" target="_blank" href="https://maps.google.com/?q=158 Linwood Plaza Fort Lee, NJ 07024">158 Linwood Plaza Suite 219 <br> Fort Lee, NJ 07024</a>
          </p>
        </li>

        <li class="info__item">
          <img class="info__icon info__icon--contact" src="/images/view-contact/contact_icon.png" alt="Contact us">
          <h3 class="info__title">Location</h3>
          <p class="info__detail">
            Office: <a class="phone" href="tel:1-201-461-9333">201-461-9333</a>
            <br>
            Fax: <a class="phone" href="tel:1-201-461-0851">201-461-0851</a>
            <br>
            General inquiries: <a class="mail" href="mailto:info@equilibriumnj.com">info@equilibriumnj.com</a>
          </p>
        </li>
        <li class="info__item">
          <img class="info__icon info__icon--hours" src="/images/view-contact/hours.png" alt="Hours">
          <h3 class="info__title">Hours</h3>
          <p class="info__detail">
            Monday: 8-7
            <br>
            Tuesdays: 8-6
            <br>
            Wednesday: 8-6
            <br>
            Thursday: 8-6
            <br>
            Friday: 8-7
            <br>
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
